.RommsPage{
    margin: 20px;
    border: 1px solid green;
    width: 80%;

}
.Rooms{
    border: 1px solid #ccc;
    background-color: white;
    padding: 0px 15px ;
    /* margin: 3px; */
    text-align: left;
}
.Rooms:active{
    outline: 1px solid red;

}
.activeRoom{
    border: 1px solid red;


}
